<ion-app>
<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-title> WELCOME TO APP </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

  <ion-content>
        <ion-button
          expand="full"
          color="primary"
          routerLink="/animals"
          class="ion-padding-horizontal"
          >ANIMALS
        </ion-button>
        <ion-button
          expand="full"
          color="tertiary"
          class="ion-padding-horizontal"
          routerLink="/instruments"
          >INSTRUMENTS    
        </ion-button>

  </ion-content>
</ion-app>